<div class="index-header-wrapper">

  <a href="/">
    <div class="logo"></div>
  </a>

  <div class="search-list">
    <form action="/movie_list">
      <input type="text" name="movie" placeholder="Enter Movie" class="input-box-list">
      <button class="button">
        <img src="style/search.png">
      </button>
    </form>
  </div>

</div>

<div class="list-results">
  <% @result['Search'].each do |k, v| %>
    <div class="result-wrapper">
      <div class="result-poster">
        <% if k['Poster'] == "N/A"%>
          <img src="/style/defaultposter.jpg" alt="">
        <% else %>
          <img src="<%= k['Poster'] %>" alt="">
        <% end %>
      </div>
      <div class="result-title">
        <a href="/movie_info?imdbID=<%= k['imdbID'] %>"><%= k['Title'] %> (<%= k['Year']%>)</a></br></br>
        <% @result_info = HTTParty.get("http://omdbapi.com/?i=#{k['imdbID']}") %>
        <%= @result_info['Plot'] %>
      </div>
    </div>
  <% end %>
</div>
