<div class="header-wrapper">

  <div class="header-background" style="background-image: url(<%= @movie_info['poster'] %>)">
  </div>

  <div class="header-yellow"></div>

  <a href="/">
    <div class="logo"></div>
  </a>

  <div class="search">
    <form action="/movie_list">
      <input type="text" name="movie" placeholder="Enter Movie" class="input-box">
      <button class="button">
        <img src="style/search.png">
      </button>
    </form>
  </div>

</div>


<div class="movie-info-wrapper">

  <div class="image-wrapper">
    <% if @movie_info['poster'] == "N/A"%>
      <img src="/style/defaultposter.jpg" class="image1">
    <% else %>
      <img src="<%= @movie_info['poster'] %>" class="image">
    <% end %>
  </div>

  <div class="title-wrapper">

    <div class="title">
      <h1> <%= @movie_info['title'] %> (<%= @movie_info['year'] %>)</h1>
    </div>

    <div class="rating">
      <div class="info-text">IMDb Rating: </br></div> <%= @movie_info['imdbrating'] %>
    </div>

    <div class="rated">
      <div class="info-text">Rated: </br></div> <%= @movie_info['rated'] %>
    </div>

    <div class="released">
      <div class="info-text">Released: </br></div> <%= @movie_info['released'] %>
    </div>

    <div class="runtime">
      <div class="info-text">Runtime: </br></div> <%= @movie_info['runtime'] %>
    </div>

  </div>

  <div class="info-wrapper">

    <div class="plot">
      <div class="info-text">
        <%= @movie_info['plot'] %>
      </div>
    </div>

    <div class="genre">
      <span class="info-text">Genre: </span><%= @movie_info['genre'] %>
    </div>

    <div class="director">
      <span class="info-text"> Director: </span><%= @movie_info['director'] %>
    </div>

    <div class="writers">
      <span class="info-text"> Writers: </span><%= @movie_info['writer'] %>
    </div>

    <div class="actors">
      <span class="info-text"> Cast: </span><%= @movie_info['actors'] %>
    </div>

  </div>

</div>
